<!-- begin aboutme -->
<div class="aboutme">
  <div class="container">
    <div class="row">
      <div class="col col-8 col-t-10 col-m-12">
        <div class="aboutme__content">
          <h5 class="aboutme__title">Contacts</h5>
          <div class="aboutme__subtitle">GitHub</div>
          <div class="aboutme__subtitle">BLog</div>
        </div>
        <div class="aboutme__content">
          <h5 class="aboutme__title">{{site.data.settings.aboutme.title01}}</h5>
          <div class="aboutme__subtitle">
            {{site.data.settings.aboutme.01sub01}}
          </div>
          <div class="aboutme__subtitle">
            {{site.data.settings.aboutme.01sub02}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end aboutme -->
